Playbooks/Reset-AADPassword-Send-SMS-TncidentTrigger/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Reset-AADPassword-IncidentTrigger",
            "type":  "string"
        }
    },
    "variables":  {
        "AzurecommunicationservicessmsConnectionName":  "[concat('Azurecommunicationservicessms-', parameters('PlaybookName'))]",
        "AzuremonitorlogsConnectionName":  "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "MicrosoftsentinelConnectionName":  "[concat('Microsoftsentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Entities_-_Get_Accounts":  {
                            "runAfter":  {
                                "Initialize_variable_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/account"
                            }
                        },
                        "For_each":  {
                            "foreach":  "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions":  {
                                "Condition_-_Phone_method_found":  {
                                    "actions":  {
                                        "For_each_2":  {
                                            "foreach":  "@body('Parse_JSON_-_HTTP_-_Get_Phone_method')?['value']",
                                            "actions":  {
                                                "Condition_-_Phone_is_trusted":  {
                                                    "actions":  {
                                                        "Add_comment_to_incident_(V3)_2":  {
                                                            "runAfter":  {
                                                                "Send_SMS":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "body":  {
                                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                    "message":  "\u003cp\u003e@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} has been sent an SMS with their temporary password.\u003c/p\u003e"
                                                                },
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "path":  "/Incidents/Comment"
                                                            }
                                                        },
                                                        "Send_SMS":  {
                                                            "runAfter":  {
                                                                "Set_variable":  [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type":  "ApiConnection",
                                                            "inputs":  {
                                                                "body":  {
                                                                    "from":  "+18332432385",
                                                                    "message":  "Your Microsoft user was involved in part of a security incident. As a precaution, your password has been reset to: @{variables('Password')}\n\nYou will be required to change your password on sign-in.\n\nKind regards,\nInformation Security",
                                                                    "smsRecipients":  [
                                                                        {
                                                                            "to":  "@variables('Phone Number')"
                                                                        }
                                                                    ],
                                                                    "smsSendOptions":  {
                                                                        "enableDeliveryReport":  false
                                                                    }
                                                                },
                                                                "host":  {
                                                                    "connection":  {
                                                                        "name":  "@parameters('$connections')['azurecommunicationservicessms']['connectionId']"
                                                                    }
                                                                },
                                                                "method":  "post",
                                                                "path":  "/v2/sms"
                                                            }
                                                        },
                                                        "Set_variable":  {
                                                            "runAfter":  {
                                                            },
                                                            "type":  "SetVariable",
                                                            "inputs":  {
                                                                "name":  "Phone Number",
                                                                "value":  "@{replace(items('For_each_2')?['phoneNumber'], ' ', '')}"
                                                            }
                                                        }
                                                    },
                                                    "runAfter":  {
                                                        "Run_query_and_list_results":  [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "else":  {
                                                        "actions":  {
                                                            "Add_comment_to_incident_(V3)":  {
                                                                "runAfter":  {
                                                                },
                                                                "type":  "ApiConnection",
                                                                "inputs":  {
                                                                    "body":  {
                                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                        "message":  "\u003cp\u003eNo trusted phone numbers were found for @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}\u003cbr\u003e\n\u003cbr\u003e\nSharing of temporary password must be completed via alternative channel.\u003c/p\u003e"
                                                                    },
                                                                    "host":  {
                                                                        "connection":  {
                                                                            "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method":  "post",
                                                                    "path":  "/Incidents/Comment"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression":  {
                                                        "and":  [
                                                            {
                                                                "contains":  [
                                                                    "@body('Run_query_and_list_results')?['value']",
                                                                    0
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type":  "If"
                                                },
                                                "Run_query_and_list_results":  {
                                                    "runAfter":  {
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "body":  "AuditLogs\n| where TimeGenerated between (ago(30d)..now())\n| where TargetResources[0].userPrincipalName ==\" @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}\"\n| where parse_json(TargetResources[0].modifiedProperties) has \"@{items('For_each_2')?['phoneNumber']}\"\n|count",
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "post",
                                                        "path":  "/queryData",
                                                        "queries":  {
                                                            "resourcegroups":  "Resource1",
                                                            "resourcename":  "Sentinel-data",
                                                            "resourcetype":  "Log Analytics Workspace",
                                                            "subscriptions":  "b3ed81b3-6916-4051-a528-790b288aaa1f",
                                                            "timerange":  "30d"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter":  {
                                                "Parse_JSON_-_HTTP_-_Get_Phone_method":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "Foreach"
                                        },
                                        "Parse_JSON_-_HTTP_-_Get_Phone_method":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ParseJson",
                                            "inputs":  {
                                                "content":  "@body('HTTP_-_Get_phone_methods')",
                                                "schema":  {
                                                    "properties":  {
                                                        "@@odata.context":  {
                                                            "type":  "string"
                                                        },
                                                        "value":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "phoneNumber":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "phoneType":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "smsSignInState":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "phoneNumber",
                                                                    "phoneType",
                                                                    "smsSignInState"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "HTTP_-_Get_phone_methods":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@outputs('HTTP_-_Get_phone_methods')['statusCode']",
                                                    200
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "Condition_-_is_manager_available":  {
                                    "actions":  {
                                        "Add_comment_to_incident_-_manager_available":  {
                                            "runAfter":  {
                                                "Send_an_email_-_to_manager_with_password_details":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "message":  "\u003cp\u003eUser @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} password was reset in AAD and their manager @{body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']} was contacted using playbook.\u003c/p\u003e"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/Incidents/Comment"
                                            }
                                        },
                                        "Parse_JSON_-_HTTP_-_get_manager":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ParseJson",
                                            "inputs":  {
                                                "content":  "@body('HTTP_-_get_manager')",
                                                "schema":  {
                                                    "properties":  {
                                                        "userPrincipalName":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                }
                                            }
                                        },
                                        "Send_an_email_-_to_manager_with_password_details":  {
                                            "runAfter":  {
                                                "Parse_JSON_-_HTTP_-_get_manager":  [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "Body":  "\u003cp\u003eUser, @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}, was involved in part of a security incident. \u0026nbsp;As part of remediation, the user password has been reset.\u003cbr\u003e\n\u003cbr\u003e\nThe temporary password is: @{variables('Password')}\u003cbr\u003e\n\u003cbr\u003e\nThe user will be required to reset this password upon login.\u003c/p\u003e",
                                                    "Subject":  "A user password was reset due to security incident.",
                                                    "To":  "@body('Parse_JSON_-_HTTP_-_get_manager')?['userPrincipalName']"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['office365_1']['connectionId']"
                                                    }
                                                },
                                                "method":  "post",
                                                "path":  "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "HTTP_-_Get_phone_methods":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Add_comment_to_incident_-_manager_not_available":  {
                                                "runAfter":  {
                                                },
                                                "type":  "ApiConnection",
                                                "inputs":  {
                                                    "body":  {
                                                        "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                        "message":  "\u003cp\u003eUser @{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])} password was reset in AAD but the user doesn't have a manager.\u003cbr\u003e\n\u003cbr\u003e\nThe temporary password is: @{variables('Password')}\u003cbr\u003e\n\u003cbr\u003e\nThe user will be required to reset this password upon login.\u003c/p\u003e"
                                                    },
                                                    "host":  {
                                                        "connection":  {
                                                            "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method":  "post",
                                                    "path":  "/Incidents/Comment"
                                                }
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@outputs('HTTP_-_get_manager')['statusCode']",
                                                    200
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "HTTP_-_Get_phone_methods":  {
                                    "runAfter":  {
                                        "HTTP_-_get_manager":  [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "type":  "ManagedServiceIdentity"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/authentication/phoneMethods"
                                    }
                                },
                                "HTTP_-_get_manager":  {
                                    "runAfter":  {
                                        "HTTP_-_reset_a_password":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "type":  "ManagedServiceIdentity"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}/manager"
                                    }
                                },
                                "HTTP_-_reset_a_password":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "type":  "ManagedServiceIdentity"
                                        },
                                        "body":  {
                                            "passwordProfile":  {
                                                "forceChangePasswordNextSignIn":  true,
                                                "forceChangePasswordNextSignInWithMfa":  false,
                                                "password":  "@{variables('Password')}"
                                            }
                                        },
                                        "method":  "PATCH",
                                        "uri":  "https://graph.microsoft.com/v1.0/users/@{concat(items('For_each')?['Name'], '@', items('for_each')?['UPNSuffix'])}"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Entities_-_Get_Accounts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Password",
                                        "type":  "String",
                                        "value":  "null"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2":  {
                            "runAfter":  {
                                "Set_variable_-_password":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Phone Number",
                                        "type":  "string"
                                    }
                                ]
                            }
                        },
                        "Set_variable_-_password":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "SetVariable",
                            "inputs":  {
                                "name":  "Password",
                                "value":  "@{substring(guid(), 0, 10)}"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azurecommunicationservicessms":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzurecommunicationservicessmsConnectionName'))]",
                                "connectionName":  "[variables('AzurecommunicationservicessmsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azurecommunicationservicessms')]"
                            },
                            "azuremonitorlogs":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('AzuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            },
                            "microsoftsentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftsentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "LogicAppsCategory":  "security",
                "hidden-SentinelTemplateName":  "Reset-AADPassword-IncidentTrigger",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzurecommunicationservicessmsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzurecommunicationservicessmsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzurecommunicationservicessmsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azurecommunicationservicessms')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftsentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftsentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
