Playbooks/updatetrigger-notifyOwner/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "updatetrigger-notifyOwner",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftsentinelConnectionName":  "[concat('Microsoftsentinel-', parameters('PlaybookName'))]",
        "TeamsConnectionName":  "[concat('Teams-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Condition_3":  {
                            "actions":  {
                                "Condition":  {
                                    "actions":  {
                                        "Create_incident":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "description":  "@{triggerBody()?['object']?['properties']?['owner']?['email']} rejected assignment of @{triggerBody()?['object']?['properties']?['incidentNumber']} with the following comment: @{body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')?['comments']}",
                                                    "severity":  "Medium",
                                                    "status":  "New",
                                                    "title":  "Assigned IncidentOwner rejected assignment of  @{triggerBody()?['object']?['properties']?['incidentNumber']}"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Incidents/subscriptions/@{encodeURIComponent('b3ed81b3-6916-4051-a528-790b288aaa1f')}/resourceGroups/@{encodeURIComponent('Resource1')}/workspaces/@{encodeURIComponent('Sentinel-data')}"
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Post_a_choice_of_options_as_the_Flow_bot_to_a_user":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                            "Condition_2":  {
                                                "actions":  {
                                                    "Add_comment_to_incident_(V3)":  {
                                                        "runAfter":  {
                                                            "Update_incident":  [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type":  "ApiConnection",
                                                        "inputs":  {
                                                            "body":  {
                                                                "incidentArmId":  "@body('Update_incident')?['id']",
                                                                "message":  "\u003cp\u003eIncident was re-assigned by @{body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')['responder']} to @{body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')?['comments']}\u003c/p\u003e"
                                                            },
                                                            "host":  {
                                                                "connection":  {
                                                                    "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method":  "post",
                                                            "path":  "/Incidents/Comment"
                                                        }
                                                    },
                                                    "Update_incident":  {
                                                        "runAfter":  {
                                                        },
                                                        "type":  "ApiConnection",
                                                        "inputs":  {
                                                            "body":  {
                                                                "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                "owner":  "@body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')?['comments']",
                                                                "ownerAction":  "Assign"
                                                            },
                                                            "host":  {
                                                                "connection":  {
                                                                    "name":  "@parameters('$connections')['microsoftsentinel']['connectionId']"
                                                                }
                                                            },
                                                            "method":  "put",
                                                            "path":  "/Incidents"
                                                        }
                                                    }
                                                },
                                                "runAfter":  {
                                                },
                                                "expression":  {
                                                    "and":  [
                                                        {
                                                            "equals":  [
                                                                "@body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')['selectedOption']",
                                                                "Assign this incident to email in comment"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "type":  "If"
                                            }
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "equals":  [
                                                    "@body('Post_a_choice_of_options_as_the_Flow_bot_to_a_user')['selectedOption']",
                                                    "Reject"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "Post_a_choice_of_options_as_the_Flow_bot_to_a_user":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnectionWebhook",
                                    "inputs":  {
                                        "body":  {
                                            "body":  {
                                                "messageBody":  "You have been assigned a Microsoft Sentinel Incident.\n@{triggerBody()?['object']?['properties']?['incidentNumber']}: @{triggerBody()?['object']?['properties']?['title']}\n\nClick here to view incident:\n@{triggerBody()?['object']?['properties']?['incidentUrl']}\n\nIf you believe this should be with someone else, please enter their email in the comment field, then click \"Assign incident to email in comment\".",
                                                "options":  [
                                                    "Acknowlege",
                                                    "Reject",
                                                    "Assign this incident to email in comment"
                                                ],
                                                "recipient":  {
                                                    "isAlert":  true,
                                                    "to":  "@triggerBody()?['object']?['properties']?['owner']?['email']"
                                                }
                                            },
                                            "notificationUrl":  "@{listCallbackUrl()}"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['teams']['connectionId']"
                                            }
                                        },
                                        "path":  "/flowbot/actions/messagewithoptions/recipienttypes/user/$subscriptions"
                                    }
                                }
                            },
                            "runAfter":  {
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "not":  {
                                            "equals":  [
                                                "@triggerBody()?['object']?['properties']?['owner']?['email']",
                                                "PersonWhoLivesInSentinel@Incoming.com"
                                            ]
                                        }
                                    },
                                    {
                                        "not":  {
                                            "equals":  [
                                                "@triggerBody()?['object']?['properties']?['owner']",
                                                "@null"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type":  "If"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "microsoftsentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftsentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "teams":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName":  "[variables('TeamsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "updatetrigger-notifyOwner",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftsentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftsentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftsentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Microsoftsentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('TeamsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('TeamsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                }
            }
        }
    ]
}
