Playbooks/Sentinel_Incident_Assignment_Shifts/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Sentinel_Incident_Assignment_Shifts",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "ShiftsConnectionName":  "[concat('Shifts-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation",
                                "retryPolicy":  {
                                    "type":  "none"
                                }
                            },
                            "runtimeConfiguration":  {
                                "concurrency":  {
                                    "runs":  1,
                                    "maximumWaitingRuns":  100
                                }
                            }
                        }
                    },
                    "actions":  {
                        "Condition_-_Check_Incident_Owner":  {
                            "actions":  {
                                "For_each_Shifts_list":  {
                                    "foreach":  "@body('List_all_shifts')?['value']",
                                    "actions":  {
                                        "Condition_-_Start_and_End_date":  {
                                            "actions":  {
                                                "For_each":  {
                                                    "foreach":  "@body('List_all_shifts')?['value']",
                                                    "actions":  {
                                                        "Condition":  {
                                                            "actions":  {
                                                                "Add_comment_to_incident_(V3)":  {
                                                                    "runAfter":  {
                                                                        "Update_incident":  [
                                                                            "Succeeded"
                                                                        ]
                                                                    },
                                                                    "type":  "ApiConnection",
                                                                    "inputs":  {
                                                                        "body":  {
                                                                            "incidentArmId":  "@body('Update_incident')?['id']",
                                                                            "message":  "\u003cp\u003eIncident assigned to @{body('Update_incident')?['properties']?['owner']?['assignedTo']} by '@{workflow().name}' Playbook.\u003c/p\u003e"
                                                                        },
                                                                        "host":  {
                                                                            "connection":  {
                                                                                "name":  "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method":  "post",
                                                                        "path":  "/Incidents/Comment"
                                                                    }
                                                                },
                                                                "Update_incident":  {
                                                                    "runAfter":  {
                                                                    },
                                                                    "type":  "ApiConnection",
                                                                    "inputs":  {
                                                                        "body":  {
                                                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                                            "owner":  "@items('For_each')?['userId']",
                                                                            "ownerAction":  "Assign"
                                                                        },
                                                                        "host":  {
                                                                            "connection":  {
                                                                                "name":  "@parameters('$connections')['azuresentinel_2']['connectionId']"
                                                                            }
                                                                        },
                                                                        "method":  "put",
                                                                        "path":  "/Incidents"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter":  {
                                                            },
                                                            "expression":  {
                                                                "and":  [
                                                                    {
                                                                        "equals":  [
                                                                            "@items('For_each')?['sharedShift']?['displayName']",
                                                                            "Primary"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "type":  "If"
                                                        }
                                                    },
                                                    "runAfter":  {
                                                    },
                                                    "type":  "Foreach"
                                                }
                                            },
                                            "runAfter":  {
                                            },
                                            "expression":  {
                                                "and":  [
                                                    {
                                                        "lessOrEquals":  [
                                                            "@ticks(formatDateTime(items('For_each_Shifts_list')?['sharedShift']?['startDateTime']))",
                                                            "@ticks(formatDateTime(utcNow()))"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type":  "If"
                                        }
                                    },
                                    "runAfter":  {
                                        "List_all_shifts":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Foreach",
                                    "runtimeConfiguration":  {
                                        "concurrency":  {
                                            "repetitions":  1
                                        }
                                    }
                                },
                                "List_all_shifts":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['shifts']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/v1.0/teams/@{encodeURIComponent('2d7cd020-bafe-4a68-af9d-778c90a53a7f')}/schedule/shifts",
                                        "queries":  {
                                            "endTime":  "@{addDays(utcNow(),1)}",
                                            "startTime":  "@{addDays(utcNow(),-1)}"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@triggerBody()?['object']?['properties']?['owner']?['assignedTo']",
                                            "@null"
                                        ]
                                    },
                                    {
                                        "not":  {
                                            "equals":  [
                                                "@triggerBody()?['object']?['properties']?['status']",
                                                "Closed"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type":  "If"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel_2":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "shifts":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('ShiftsConnectionName'))]",
                                "connectionName":  "[variables('ShiftsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Shifts')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Sentinel_Incident_Assignment_Shifts",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('ShiftsConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('ShiftsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('ShiftsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Shifts')]"
                }
            }
        }
    ]
}
